# Clé gratuite à obtenir sur https://rawg.io/apidocs (inscription gratuite)
RAWG_API_KEY=colle_ta_cle_ici

# Port du serveur
PORT=4000

# URL autorisée pour le CORS (ton front en dev)
CLIENT_URL=http://localhost:5173
